.hero-container{
    background-image: url(../img/hero.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100vh;
}
.hero-container .content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: var(--spacing-3xl, 24px);
    gap: 80px;
}
.hero-container .content-wrapper .heading{
    color: #FFF;
    font-family: Raleway;
    font-size: 48px;
    font-weight: 700;
}
.hero-container .content-wrapper .heading-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-3xl, 24px);
}
.hero-container .content-wrapper .sub-heading{
    color: #FFF;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.50);
    font-family: Lato;
    font-size: 24px;
    font-weight: 500;
}
.hero-container .content-wrapper .button-wrapper{
    display: flex;
    width: 573px;
    align-items: flex-start;
    gap: var(--spacing-xl, 16px);
}
.hero-container .content-wrapper .button-wrapper .stock-btn{
    color: #0A0B0F;
    /* leading-trim: both;
    text-edge: cap; */
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 187.5%;
    display: flex;
    padding: var(--spacing-xl, 16px) 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.50);
}
.hero-container .content-wrapper .button-wrapper .order-btn{
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid #FFF;
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-weight: 600;
    background-color: #0A0B0F;
}
.hero-container .features-section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: var(--spacing-3xl, 24px);
}
.hero-container .features-section .features{
    color: #FFF;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
}
.hero-container .features-section .border-div{
    width: 1px;
    height: 24px;
    background: rgba(255, 255, 255, 0.50);
}
.hero-container .hero-form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}
.hero-container .hero-form-wrapper .dropdown-container{
    display: flex;
    padding: var(--spacing-3xl, 24px);
    align-items: flex-end;
    gap: var(--spacing-xl, 16px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(20px);
}





.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.container__title {
    width: 100%;
    color: #fff;
    margin-bottom: 25px;
    font-weight: 400;
    text-align: center;
}
.select-dropdown {
    position: relative;
    display: inline-block;
    max-width: 100%;
    margin: 0 15px 0 0;
}
.select-dropdown::last-child {
    margin-right: 0px;
}
.select-dropdown__button {
    padding: 10px 35px 10px 15px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    width: 210px;
    text-align: left;
}
.select-dropdown__button::focus {
    outline: none;
}
.select-dropdown__button .zmdi-chevron-down {
    position: absolute;
    right: 10px;
    top: 12px;
}
.select-dropdown__list {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    max-height: 300px;
    overflow: auto;
    margin: 0;
    padding: 0;
    border: 1px solid #cecece;
    border-top: 0px solid transparent;
    list-style-type: none;
    opacity: 0;
    pointer-events: none;
    transform-origin: top left;
    transform: scale(1, 0);
    transition: all ease-in-out 0.3s;
    z-index: 2;
    background-color: var(--dark-gray);
}
.select-dropdown__list.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1, 1);
}
.select-dropdown__list-item {
    display: block;
    list-style-type: none;
    padding: 10px 15px;
    background: transparent;
    font-size: 14px;
    line-height: 1.4;
    cursor: pointer;
    color: #fff;
    text-align: left;
    transition: all ease-in-out 0.3s;
}

.drop-select{
    position: relative;
}
.drop-select .down-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    right: 20px;
}
.drop-select .down-arrow img{
    height: 100%;
    width: 100%;
}

.dropdown-container .border-div{
    width: 1px;
    height: 38.013px;
    background: rgba(255, 255, 255, 0.30);
}
.dropdown-container .filter-btn{
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md, 8px);
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.50);
    border: 0;
}
.dropdown-container .filter-btn .btn-txt{
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}
.dropdown-container .filter-btn .filter-btn-img{
    height: 20px;
    width: 20px;
}
.dropdown-container .filter-btn .filter-btn-img img{
    height: 100%;
    width: 100%;
}
